.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: blueviolet;
}

.Header a{
    text-decoration: none;
    color: seashell;
    font-size: 25px;
}

.Header a:hover{
    text-decoration: underline;
    color: yellow;
}